#red{
    color:red;
}

#blue{
    color:blue;
}

#orange{
    color:orange;
}

#green{
    color:green;
}

#purple{
    color:purple;
}

#yellow{
    color:yellow;
}

h2{
    font-weight: normal;
}

img{
    height: 100x;
    width: 100px;
}

